#Navbar{
    /* background-color: #27374D; */
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Navbar>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}
#Navbar>div:nth-child(1)>img{
    width:100px;
}
#Navbar>div:nth-child(2)>button{
    height: 50%;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 0px;
    border-radius: 10px;
    background-color: #9DB2BF;
    color: #455562;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
#Navbar>div:nth-child(2)>button:hover{
    background-color: #526D82;
    color: white;
}


@media screen and (max-width:350px){
    #Navbar{
        justify-content: space-around;
    }
}

